/* Monedas.css */
.monedas-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #555555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.monedas-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.monedas-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.monedas-container th,
.monedas-container td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: left;
  color: #fff;
}

.monedas-container th {
  background-color: #333;
}

.monedas-container tbody tr:nth-child(even) {
  background-color: #444;
}

.monedas-container tbody tr:nth-child(odd) {
  background-color: #333;
}
